* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
    list-style: none;
}

*:focus{
    outline: none;
}

html,
body {
	height: 100%;
	font-family: Poppins, sans-serif;
}

body > #root > div {
	height: 100vh;
}
